body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
  
.chat-bot-box {
  display: flex;
  flex-direction:column;
  background-color: #474545; /* Optional background */
  margin: 0;
  padding: 0px;
  width:50vw;
  height:100vh;
  align-items:center;
  justify-content:flex-end;
}

.user-text-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50vw;
  padding: 1rem;
}

.user-chat-box {
  display:flex !important;
  width: 70% !important;
  background-color:gray !important;
  color:white !important
}

@media (max-width:600px) {
  .user-text-button {
    margin-left: 1vw !important;
    font-size:.5rem !important;
  }
}

@media (min-width:1200px) {
  .user-text-button {
    margin-left: 1vw !important;
    font-size:1rem !important;
  }
}

.user-chat-box::placeholder {
  color:white !important
}

.user-message {
  width: 45vw !important;
  margin-left: 3vw;
  background-color:gray !important;
}

.text-input-parent {
  max-width: 100vw;
}
.text-input {
  max-width: 100%;
}