body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #3D3522;
}

.btn {
  background-color: #2D4E40 !important;
  color: white !important;
}

.app-header {
  position:absolute;
  top:0;
  left:0;
  padding:0.5rem;
}

.app-logo {
  height:15vh;
  width:auto; /* dont' want to stretch logo */
}
