body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: black;
}
  
.chat-bot-box {
  display: flex;
  flex-direction:column;
  background-color: #463f3f; /* Optional background */
  margin: 0;
  padding: 0px;
  width:50vw;
  height:100vh;
  align-items:center;
  justify-content:flex-end;
}

.user-message-container {
  overflow-y: auto;
}

.user-text-button-container {
  display: flex;
  padding: 1rem;
  width: 100%
}

.user-text-button {
  margin-left: 1vw !important;
  font-size:1rem !important;
  font-weight: bold !important;
}

.user-message {
  width: 45vw !important;
  margin-left: 3vw;
  background-color:gray !important;
}

.text-input {
  max-width: 100% !important;
}